page-county-information {

    //#region NavBar
    //NavBar
    .toolbar-background {
        background: linear-gradient(180deg, rgba(0, 68, 136, .9));
        color:white;
    }

    .toolbar-title {
        color: white;
    }


    .navBarImage {
        display: block;
        position: absolute;
        top: 50%;
        left: 90%;
        //Height
        min-height: 40px;
        max-height: 40px;
        //width
        min-width: 40px;
        max-width: 40px;
        transform: translate(-50%, -50%);
    }
    //#endregion


    ion-avatar {
        text-align: center;
        padding-bottom: 5px;
    }


    //#region SegmentButtons

    .segmentButton {
        color: rgba(255,255,255,1) !important;
        border-color: rgba(255,255,255,1) !important;
        background-color: rgba(0, 68, 136, 0) !important;
    }

    //Have to get the right level of "specificity" to override the "main.css"
    //You could use a CSS "!important" tag, however you would need someone way to change the class to that still
    //Instead, we just use the ".segment-activated" class that ionic already applies to a given segment but with added specificity
    //** This prevents you from needing to either use *ngIf (someontimes flashes when loading elements this way) or manipulating the class in the backend 
    //** The caveat of course being that you will need a section for each segment button being refered to by "id" in this way
    .segment #localGovernment.segment-activated {
        color: rgba(255,255,255, 1) !important;
        border-color: rgba(255,255,255,1) !important;
        background-color: rgba(255, 255, 255, .2) !important;
        box-shadow: inset 2px 2px 3px 1px rgba(0,0,0, .45) !important;
    }

    .segment #schoolBoard.segment-activated {
        color: rgba(255,255,255, 1) !important;
        border-color: rgba(255,255,255,1) !important;
        background-color: rgba(255, 255, 255, .2) !important;
        box-shadow: inset 2px 2px 3px 1px rgba(0,0,0, .45) !important;
    }

    .segment #services.segment-activated {
        color: rgba(255,255,255, 1) !important;
        border-color: rgba(255,255,255,1) !important;
        background-color: rgba(255, 255, 255, .2) !important;
        box-shadow: inset 2px 2px 3px 1px rgba(0,0,0, .45) !important;
    }

    //#endregion


    //#region CardStyling
    .districtCard {
        line-height: 50%;
        text-align: center;
        background: rgb(255, 255, 245);
        box-shadow: 4px 4px 4px 2px rgba(0,0,0, .45);
    }

    .cardTitle {
        //I'll be frank with you, I have no clue what this is a percent of
        //Percent is meant to be of the direct parent... but this is the percentage the looked good so here we are
        font-size: 130%;
        font-weight: 400;
    }

    .cardDivider {
        background-color: rgba(0,0,0,.05);
        box-shadow: inset 2px 2px 3px 1px rgba(0,0,0, .45);
        border-radius: 0px 10px 10px 10px;
    }

    .cardLabel {
        padding: 4px;
        color: rgba(0, 68, 136, 1)
    }

    //#endregion


    //#region DistrictMaps
    //.districtMap Class applied to all map images 
    .districtMap {
        width: 80%;
        display: inline-block;
        //Commission maps are slightly larger than the school maps, so they need some padding to make them not so close to the bottom of their card
        margin-bottom: 5%
    }
    //#endregion

}
