<ion-header>
  <ion-toolbar>
    <button ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu" style="color:white"></ion-icon>
    </button>
    <div class="navBarImageWrapper">
      <img class="navBarImage" src="assets/imgs/WaCoLibrary_LogoWhite.png">
    </div>
    <ion-title>County Information</ion-title>
  </ion-toolbar>

  <!-- Card Group Selection Segment -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="informationSelection">
      <ion-segment-button id="localGovernment" class="segmentButton" value="localGovernment">Local Gov.
      </ion-segment-button>
      <ion-segment-button id="boardOfEducation" class="segmentButton" value="boardOfEducation">School Board
      </ion-segment-button>
      <ion-segment-button id="services" class="segmentButton" value="services">Services</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- #region LocalGovernment -->


  <!--#region Probate Judge -->
  <ion-card class="Card" *ngIf="informationSelection == 'localGovernment'">
    <ion-card-header>
      <ion-card-title class="cardTitle">Probate Judge</ion-card-title>

      <ion-item-divider class="cardDivider" *ngIf="cardSelection == 'probateJudge'">
        <ion-label class="nameLabel">Nick Williams</ion-label>
      </ion-item-divider>
    </ion-card-header>

    <ion-card-content *ngIf="cardSelection == 'probateJudge'">
      <p>PO BOX 864</p>
      <p>Chatom, AL. 36518</p>
      <p class="cardEmailAddress">judgewilliams@washprobate.com</p>
      <p>(251)847-2201</p>
    </ion-card-content>

    <ion-avatar>
      <ion-icon *ngIf="cardSelection != 'probateJudge'" name="arrow-dropdown" (click)="toggleDisplay('probateJudge')">
      </ion-icon>
      <ion-icon *ngIf="cardSelection == 'probateJudge'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
    </ion-avatar>
  </ion-card>
  <!-- #endregion -->


  <!--#region County Engineer -->
  <ion-card class="Card" *ngIf="informationSelection == 'localGovernment'">
    <ion-card-header>
      <ion-card-title class="cardTitle">County Engineer</ion-card-title>

      <ion-item-divider class="cardDivider" *ngIf="cardSelection == 'countyEngineer'">
        <ion-label class="nameLabel">Danny Overton</ion-label>
      </ion-item-divider>
    </ion-card-header>

    <ion-card-content *ngIf="cardSelection == 'countyEngineer'">
      <p>830 Antioch Rd.</p>
      <p>Grove Hill, AL. 35451</p>
      <p class="cardEmailAddress">wcdgo55@yahoo.com</p>
      <p>(251)246-2612</p>
    </ion-card-content>

    <ion-avatar>
      <ion-icon *ngIf="cardSelection != 'countyEngineer'" name="arrow-dropdown"
        (click)="toggleDisplay('countyEngineer')"></ion-icon>
      <ion-icon *ngIf="cardSelection == 'countyEngineer'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
    </ion-avatar>
  </ion-card>
  <!-- #endregion -->


  <!--#region EMA -->
  <ion-card class="Card" *ngIf="informationSelection == 'localGovernment'">
    <ion-card-header>
      <ion-card-title class="cardTitle">EMA</ion-card-title>

      <ion-item-divider class="cardDivider" *ngIf="cardSelection == 'ema'">
        <ion-label class="nameLabel">Mike Barnett</ion-label>
      </ion-item-divider>
    </ion-card-header>

    <ion-card-content *ngIf="cardSelection == 'ema'">
      <p>2140 Bates Lake Rd.</p>
      <p>Malcom, AL. 35556</p>
      <p class="cardEmailAddress">mbarnett@gmail.com</p>
      <p>(251)829-6750</p>
      <p>Cell: (251)-802-9661</p>
    </ion-card-content>

    <ion-avatar>
      <ion-icon *ngIf="cardSelection != 'ema'" name="arrow-dropdown" (click)="toggleDisplay('ema')"></ion-icon>
      <ion-icon *ngIf="cardSelection == 'ema'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
    </ion-avatar>
  </ion-card>
  <!-- #endregion -->


  <!--#region Sheriff -->
  <ion-card class="Card" *ngIf="informationSelection == 'localGovernment'">
    <ion-card-header>
      <ion-card-title class="cardTitle">Sheriff</ion-card-title>

      <ion-item-divider class="cardDivider" *ngIf="cardSelection == 'sheriff'">
        <ion-label class="nameLabel">Richard Stringer</ion-label>
      </ion-item-divider>
    </ion-card-header>

    <ion-card-content *ngIf="cardSelection == 'sheriff'">
      <p>PO BOX 307</p>
      <p>Chatom, AL. 36518</p>
      <p class="cardEmailAddress">richard.stringer@washcoso.com</p>
      <p>(251)847-2201</p>
      <p>Cell: (251)-513-5752</p>
    </ion-card-content>

    <ion-avatar>
      <ion-icon *ngIf="cardSelection != 'sheriff'" name="arrow-dropdown" (click)="toggleDisplay('sheriff')"></ion-icon>
      <ion-icon *ngIf="cardSelection == 'sheriff'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
    </ion-avatar>
  </ion-card>
  <!-- #endregion -->


  <!--#region CountyAdministrator -->
  <ion-card class="Card" *ngIf="informationSelection == 'localGovernment'">
    <ion-card-header>
      <ion-card-title class="cardTitle">County Administrator</ion-card-title>

      <ion-item-divider class="cardDivider" *ngIf="cardSelection == 'countyAdministrator'">
        <ion-label class="nameLabel">Sonya Kirkwood</ion-label>
      </ion-item-divider>
    </ion-card-header>

    <ion-card-content *ngIf="cardSelection == 'countyAdministrator'">
      <p>PO BOX 904</p>
      <p>Chatom, AL. 36518</p>
      <p class="cardEmailAddress">sonyak@washingtoncountyal.org</p>
      <p>(251)847-2208</p>
      <p>Cell: (251)-509-2754</p>
    </ion-card-content>

    <ion-avatar>
      <ion-icon *ngIf="cardSelection != 'countyAdministrator'" name="arrow-dropdown"
        (click)="toggleDisplay('countyAdministrator')"></ion-icon>
      <ion-icon *ngIf="cardSelection == 'countyAdministrator'" name="arrow-dropup" (click)="toggleDisplay('')">
      </ion-icon>
    </ion-avatar>
  </ion-card>
  <!--#endregion  -->


  <!--#region Revenue Commissioner -->
  <ion-card class="Card" *ngIf="informationSelection == 'localGovernment'">
    <ion-card-header>
      <ion-card-title class="cardTitle">Revenue Commissioner</ion-card-title>

      <ion-item-divider class="cardDivider" *ngIf="cardSelection == 'revenueCommissioner'">
        <ion-label class="nameLabel">Mary Ann Dees</ion-label>
      </ion-item-divider>
    </ion-card-header>

    <ion-card-content *ngIf="cardSelection == 'revenueCommissioner'">
      <p>PO BOX 847</p>
      <p>Chatom, AL. 36518</p>
      <p class="cardEmailAddress">mdees1956@outlook.com</p>
      <p>(251)847-2780</p>
      <p>Cell: 251-242-1487</p>
    </ion-card-content>

    <ion-avatar>
      <ion-icon *ngIf="cardSelection != 'revenueCommissioner'" name="arrow-dropdown"
        (click)="toggleDisplay('revenueCommissioner')"></ion-icon>
      <ion-icon *ngIf="cardSelection == 'revenueCommissioner'" name="arrow-dropup" (click)="toggleDisplay('')">
      </ion-icon>
    </ion-avatar>
  </ion-card>
 <!--#endregion -->


  <!--#region National Representation -->
  <ion-card class="Card" *ngIf="informationSelection == 'localGovernment'">
    <!-- The main header always needs to display so the title can be shown -->
    <ion-card-header>
      <ion-card-title class="cardTitle">National Representation</ion-card-title>

      <!-- Where as the divider needs to only display once the card is opened -->
      <ion-item-divider class="cardDivider" *ngIf="cardSelection == 'nationalRepresentation'">
        <ion-label class="nameLabel">Bradly Byrne</ion-label>
      </ion-item-divider>
    </ion-card-header>

    <!-- Then the content respective to that divider goes under it  -->
    <ion-card-content *ngIf="cardSelection == 'nationalRepresentation'">
      <p>National Congressional District 1</p>
    </ion-card-content>

    <!-- Every other header in the card does not need to display until the card is opened or it will create random padding in the card when it is closed -->
    <ion-card-header *ngIf="cardSelection == 'nationalRepresentation'">
      <ion-item-divider class="cardDivider">
        <ion-label class="nameLabel">Brett Eastbrook</ion-label>
      </ion-item-divider>
    </ion-card-header>

    <ion-card-content *ngIf="cardSelection == 'nationalRepresentation'">
      <p>State House Representative - 65</p>
    </ion-card-content>

    <!-- Every other header in the card does not need to display until the card is opened or it will create random padding in the card when it is closed -->
    <ion-card-header *ngIf="cardSelection == 'nationalRepresentation'">
        <ion-item-divider class="cardDivider">
          <ion-label class="nameLabel">Greg Albritton</ion-label>
        </ion-item-divider>
      </ion-card-header>
  
      <ion-card-content *ngIf="cardSelection == 'nationalRepresentation'">
        <p>Senate District - 22</p>
      </ion-card-content>

    <ion-avatar>
      <ion-icon *ngIf="cardSelection != 'nationalRepresentation'" name="arrow-dropdown"
        (click)="toggleDisplay('nationalRepresentation')"></ion-icon>
      <ion-icon *ngIf="cardSelection == 'nationalRepresentation'" name="arrow-dropup" (click)="toggleDisplay('')">
      </ion-icon>
    </ion-avatar>
  </ion-card>
  <!--#endregion -->


  <!-- #endregion -->



  <!--#region BoardOfEducationCards -->


  <!--#region Superintendent -->
  <ion-card class="Card" *ngIf="informationSelection == 'boardOfEducation'">
    <ion-card-header>
      <ion-card-title class="cardTitle">Superintendent</ion-card-title>

      <ion-item-divider class="cardDivider" *ngIf="cardSelection == 'superintendent'">
        <ion-label class="nameLabel">John Dickey</ion-label>
      </ion-item-divider>
    </ion-card-header>

    <ion-card-content *ngIf="cardSelection == 'superintendent'">
      <!-- <p>PO BOX 864</p>
        <p>Chatom, AL. 36518</p>
        <p class="cardEmailAddress">judgewilliams@washprobate.com</p>
        <p>(251)847-2201</p> -->
    </ion-card-content>

    <ion-avatar>
      <ion-icon *ngIf="cardSelection != 'superintendent'" name="arrow-dropdown"
        (click)="toggleDisplay('superintendent')">
      </ion-icon>
      <ion-icon *ngIf="cardSelection == 'superintendent'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
    </ion-avatar>
  </ion-card>
  <!-- #endregion -->


  <!--#region Board Members -->
  <ion-card class="Card" *ngIf="informationSelection == 'boardOfEducation'">
    <ion-card-header>

      <!-- Normally you would use *ngIf Else / template but for someone reason angular has a bug that was happening in this particular instance -->
      <!-- Instead we will just use two elements with seperate conditions -->
      <ion-card-title class="cardTitle" *ngIf="cardSelection != 'boardMembers'; else boardMembersVisible">Board Members
      </ion-card-title>

      <ng-template #boardMembersVisible>
        <ion-card-title class="cardTitleBoardMembersVisible">Board Members</ion-card-title>
      </ng-template>


      <div class="boardMemberContainer" *ngIf="cardSelection == 'boardMembers'">
        <p class="districtLabel">- School District One -</p>
        <ion-item-divider class="boardOfEducationCardDivider">
          <ion-label class="nameLabel">Horace Thomas</ion-label>
        </ion-item-divider>
        <br>
      </div>

      <div class="boardMemberContainer" *ngIf="cardSelection == 'boardMembers'">
        <p class="districtLabel">- School District Two -</p>
        <ion-item-divider class="boardOfEducationCardDivider">
          <ion-label class="nameLabel">DeWayne Byrd</ion-label>
        </ion-item-divider>
        <br>
      </div>

      <div class="boardMemberContainer" *ngIf="cardSelection == 'boardMembers'">
        <p class="districtLabel">- School District Three -</p>
        <ion-item-divider class="boardOfEducationCardDivider">
          <ion-label class="nameLabel">Nollie R. Dees</ion-label>
        </ion-item-divider>
        <br>
      </div>

      <div class="boardMemberContainer" *ngIf="cardSelection == 'boardMembers'">
        <p class="districtLabel">- School District Four -</p>
        <ion-item-divider class="boardOfEducationCardDivider">
          <ion-label class="nameLabel">Keith Beech</ion-label>
        </ion-item-divider>
        <br>
      </div>

      <div class="boardMemberContainer" *ngIf="cardSelection == 'boardMembers'">
        <p class="districtLabel">- School District Five -</p>
        <ion-item-divider class="boardOfEducationCardDivider">
          <ion-label class="nameLabel">Lonnie Guy</ion-label>
        </ion-item-divider>
        <br>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="cardSelection == 'boardMembers'">
      <!-- <p>PO BOX 864</p>
        <p>Chatom, AL. 36518</p>
        <p class="cardEmailAddress">judgewilliams@washprobate.com</p>
        <p>(251)847-2201</p> -->
    </ion-card-content>

    <ion-avatar>
      <ion-icon *ngIf="cardSelection != 'boardMembers'" name="arrow-dropdown" (click)="toggleDisplay('boardMembers')">
      </ion-icon>
      <ion-icon *ngIf="cardSelection == 'boardMembers'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
    </ion-avatar>
  </ion-card>
  <!-- #endregion -->


  <!--#region Address Information -->
  <ion-card class="Card" *ngIf="informationSelection == 'boardOfEducation'">
    <ion-card-header>
      <ion-card-title class="cardTitle">Address Information</ion-card-title>

      <!-- <ion-item-divider class="cardDivider" *ngIf="cardSelection == 'addressInformation'">
        <ion-label class="nameLabel">Nick Williams</ion-label>
      </ion-item-divider> -->
    </ion-card-header>

    <ion-card-content *ngIf="cardSelection == 'addressInformation'">
      <p>PO BOX 1359</p>
      <p>Chatom, AL. 36518</p>
      <p>(251)847-3611</p>
    </ion-card-content>

    <ion-avatar>
      <ion-icon *ngIf="cardSelection != 'addressInformation'" name="arrow-dropdown"
        (click)="toggleDisplay('addressInformation')"></ion-icon>
      <ion-icon *ngIf="cardSelection == 'addressInformation'" name="arrow-dropup" (click)="toggleDisplay('')">
      </ion-icon>
    </ion-avatar>
  </ion-card>
  <!-- #endregion -->


  <!-- #endregion -->



  <!--#region ServicesCards -->


  <!--#region Services -->
  <ion-card class="Card" *ngIf="informationSelection == 'services'">
      <ion-card-header>
  
        <!-- Normally you would use *ngIf Else / template but for someone reason angular has a bug that was happening in this particular instance -->
        <!-- Instead we will just use two elements with seperate conditions -->
        <ion-card-title class="cardTitle" *ngIf="cardSelection != 'services'; else servicesVisible">Services
        </ion-card-title>
  
        <ng-template #servicesVisible>
          <ion-card-title class="cardTitleServicesVisible">Services</ion-card-title>
        </ng-template>
  
  
        <div class="servicesContainer" *ngIf="cardSelection == 'services'">
          <ion-label class="servicesLabel">- Hospital -</ion-label>
          <p class="cardLink">http://www.wchnh.org/</p>
          <br>
        </div>
  
        <div class="servicesContainer" *ngIf="cardSelection == 'services'">
            <ion-label class="servicesLabel">- The Arc -</ion-label>
            <p class="cardLink">Http://arcofsouthwestal.org/</p>
            <br>
          </div>
  
          <div class="servicesContainer" *ngIf="cardSelection == 'services'">
              <ion-label class="servicesLabel">- St. Stephens -</ion-label>
              <p class="cardLink">http://www.oldststephens.net/</p>
              <br>
            </div>
  
            <div class="servicesContainer" *ngIf="cardSelection == 'services'">
                <ion-label class="servicesLabel">- ADPH -</ion-label>
                <p class="cardLink">http://www.alabamapublichealth.gov/washington/</p>
                <br>
              </div>
  
              <div class="servicesContainer" *ngIf="cardSelection == 'services'">
                  <ion-label class="servicesLabel">- Extension Office -</ion-label>
                  <p class="cardLink">http://www.aces.edu/counties/washington/</p>
                  <br>
                </div>

                <div class="servicesContainer" *ngIf="cardSelection == 'services'">
                    <ion-label class="servicesLabel">- Alta Point -</ion-label>
                    <p class="cardLink">http://www.altapointe.org/locations/community-counseling-center-washington-county/</p>
                    <br>
                  </div>

                  <div class="servicesContainer" *ngIf="cardSelection == 'services'">
                      <ion-label class="servicesLabel">- Chatom Primary Care -</ion-label>
                      <p class="cardLink">https://www.facebook.com/chatomprimarycare/</p>
                      <br>
                    </div>
      </ion-card-header>
  
      <ion-card-content *ngIf="cardSelection == 'services'">
        <!-- <p>PO BOX 864</p>
          <p>Chatom, AL. 36518</p>
          <p class="cardEmailAddress">judgewilliams@washprobate.com</p>
          <p>(251)847-2201</p> -->
      </ion-card-content>
  
      <ion-avatar>
        <ion-icon *ngIf="cardSelection != 'services'" name="arrow-dropdown" (click)="toggleDisplay('services')">
        </ion-icon>
        <ion-icon *ngIf="cardSelection == 'services'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
      </ion-avatar>
    </ion-card>
    <!-- #endregion -->


  <!-- #endregion -->


</ion-content>