<ion-header>
  <ion-toolbar>
      <button ion-button [menuToggle]="activeMenu">
        <ion-icon name="menu" style="color:white"></ion-icon>
      </button>
      <div class="navBarImageWrapper" >
      <img class="navBarImage" src="assets/imgs/WaCoLibrary_LogoWhite.png" >
      </div>
    <ion-title>School Districts</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>


<!-- D1 -->
<ion-card class="districtCard">
  <ion-card-content>
    <ion-card-title>
      District One - McIntosh
    </ion-card-title>
    <p>
      Jason Boothe
    </p>
  </ion-card-content>
  <ion-avatar>
      <ion-icon *ngIf="districtSelection != 'mcintosh'" name="arrow-dropdown" (click)="toggleDisplay('mcintosh')"></ion-icon>
      <ion-icon *ngIf="districtSelection == 'mcintosh'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
  </ion-avatar>

  <img class="districtMap" *ngIf="districtSelection == 'mcintosh'" src="../../assets/WaCo Maps/School Districts Maps/SD_Map_D1.png">

</ion-card>


<!-- D2 -->
<ion-card class="districtCard">
  <ion-card-content>
    <ion-card-title>
      District Two - Leroy
    </ion-card-title>
    <p>
      Termite Beasley
    </p>
  </ion-card-content>
  <ion-avatar>
      <ion-icon *ngIf="districtSelection != 'leroy'" name="arrow-dropdown" (click)="toggleDisplay('leroy')"></ion-icon>
      <ion-icon *ngIf="districtSelection == 'leroy'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
  </ion-avatar>

  <img class="districtMap" *ngIf="districtSelection == 'leroy'" src="../../assets/WaCo Maps/School Districts Maps/SD_Map_D2.png">

</ion-card>


<!-- D3 -->
<ion-card class="districtCard"> 
  <ion-card-content>
    <ion-card-title>
      District Three - Fruitdale
    </ion-card-title>
    <p>
      Allan Bailey
    </p>
  </ion-card-content>
  <ion-avatar>
      <ion-icon *ngIf="districtSelection != 'fruitdale'" name="arrow-dropdown" (click)="toggleDisplay('fruitdale')"></ion-icon>
      <ion-icon *ngIf="districtSelection == 'fruitdale'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
  </ion-avatar>

  <img class="districtMap" *ngIf="districtSelection == 'fruitdale'" src="../../assets/WaCo Maps/School Districts Maps/SD_Map_D3.png">

</ion-card>


<!-- D4 -->
<ion-card class="districtCard">
  <ion-card-content>
    <ion-card-title>
      District Four - Chatom
    </ion-card-title>
    <p>
      Brad Johnston
    </p>
  </ion-card-content>
  <!-- Display Additional Info Button -->
  <ion-avatar>
      <ion-icon *ngIf="districtSelection != 'chatom'" name="arrow-dropdown" (click)="toggleDisplay('chatom')"></ion-icon>
      <ion-icon *ngIf="districtSelection == 'chatom'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
  </ion-avatar>

  <img class="districtMap"  *ngIf="districtSelection == 'chatom'" src="../../assets/WaCo Maps/School Districts Maps/SD_Map_D4.png">

</ion-card>


<!-- D5 -->
<ion-card class="districtCard"> 
  <ion-card-content>
    <ion-card-title>
      District Five - Millry
    </ion-card-title>
    <p>
      Joe Abston
    </p>
  </ion-card-content>
  <ion-avatar>
      <ion-icon *ngIf="districtSelection != 'millry'" name="arrow-dropdown" (click)="toggleDisplay('millry')"></ion-icon>
      <ion-icon *ngIf="districtSelection == 'millry'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
  </ion-avatar>

  <img class="districtMap" *ngIf="districtSelection == 'millry'" src="../../assets/WaCo Maps/School Districts Maps/SD_Map_D5.png">

</ion-card>


</ion-content>>