page-about {

//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //NavBar
    .toolbar-background-ios {
        background: linear-gradient(180deg, rgba(0, 68, 136, .9));
        color:white;
    }

    .toolbar-title {
        color: white;
    }

    .icon {
        color: white;
    }

//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]

// Admin button and text styling.
    .adminButton{
        // left:10%;
        // right:10%;
        // top:10%;
        // width:75%;
        background: rgba(0, 68, 136, 1);
    }

    //Contact Admin Text
    .contactAdminShow{
        transition: ease .2s;
        padding:15px;
        text-align:center;
        border-radius:20px;
        background-color: whitesmoke;
        box-shadow: 4px 4px 4px royalblue;
        visibility:visible;
        width:90%;
    }

    .contactAdminText{
        display: none;
    }

    //Important Links Button
    .importantLinksButton{
        // left:10%;
        // right:10%;
        // top:10%;
        // width:75%;
        background: rgba(0, 68, 136, 1);
    }

    .importantLinksShow{
            transition: ease .2s;
            padding:15px;
            text-align:center;
            border-radius:20px;
            background-color: whitesmoke;
            box-shadow: 4px 4px 4px royalblue;
            visibility:visible;
            width:90%;
    }

    .importantLinksText{
        visibility: visible;
    }


    //User manual button
    .userManualButton{
        // left:10%;
        // right:10%;
        // top:50%;
        // width:75%;
        background: rgba(0, 68, 136, 1);
    }

    //About us button
    .aboutUsButton{
        // left:10%;
        // right:10%;
        // top:70%;
        // width:75%;
        background: rgba(0, 68, 136, 1);
    }

    .aboutUsText{
        display: none;
    }

    .showAboutUsText{
        transition: ease .5s;
        padding:15px;
        text-align:center;
        border-radius:20px;
        background-color: whitesmoke;
        box-shadow: 4px 4px 4px royalblue;
        visibility:visible;
        width:90%;
    }
}
