page-about {

//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //NavBar
    .toolbar-background {
        background: linear-gradient(180deg, rgba(0, 68, 136, .9));
        color:white;
    }

    .toolbar-title {
        color: white;
    }

    .icon {
        color: white;
    }

//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]



// Admin button and text styling

.adminButtonDiv{
    text-align:center;
}

    .adminButton{
        background: rgba(0, 68, 136, 1);
        
    }

    .adminText{
        border-radius:20px;
        text-align:center;
        display:none;
    }

    .adminTextHide{
        display:none;
    }

    .administratorDiv{

    }

//User manual button
    .userManualButton{
        background: rgba(0, 68, 136, 1);
    }

    .userManualButtonDiv{
        text-align: center;
    }

//About us button
    .aboutUsButton{
        background: rgba(0, 68, 136, 1);
    }

    .aboutUsButtonDiv{
        text-align:center;
    }

    .aboutUsText{
        border-radius:20px;
        text-align:center;
        display:none;
        
    }

//Important Links Button
    .importantLinksButton{
        background: rgba(0, 68, 136, 1);
    }

    .importantLinksDiv{
        text-align:center;
    }

    .importantLinksText{
        border-radius:20px;
        text-align:center;
        display:none;
    }


    //Admin Login Button

    .adminLoginButton{
        text-align:center;
    }
}
