<ion-header>
  <ion-toolbar>
      <button ion-button [menuToggle]="activeMenu">
        <ion-icon name="menu" style="color:white"></ion-icon>
      </button>
      <div class="navBarImageWrapper" >
      <img class="navBarImage" src="assets/imgs/WaCoLibrary_LogoWhite.png" >
      </div>
    <ion-title>Washington County Commission</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>

<!-- D1 -->
<ion-card class="districtCard">
  <ion-card-content>
    <ion-card-title>
      District One
    </ion-card-title>
    <p>
        Marvin Johnston
    </p>
  </ion-card-content>
  <ion-avatar>
      <ion-icon *ngIf="districtSelection != 'd1'" name="arrow-dropdown" (click)="toggleDisplay('d1')"></ion-icon>
      <ion-icon *ngIf="districtSelection == 'd1'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
  </ion-avatar>

  <img class="districtMap" *ngIf="districtSelection == 'd1'" src="../../assets/WaCo Maps/School Districts Maps/SD_Map_D1.png">

</ion-card>


<!-- D2 -->
<ion-card class="districtCard">
  <ion-card-content>
    <ion-card-title>
      District Two 
    </ion-card-title>
    <p>
        Allen Bailey (Chairman)
    </p>
  </ion-card-content>
  <ion-avatar>
      <ion-icon *ngIf="districtSelection != 'd2'" name="arrow-dropdown" (click)="toggleDisplay('d2')"></ion-icon>
      <ion-icon *ngIf="districtSelection == 'd2'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
  </ion-avatar>

  <img class="districtMap" *ngIf="districtSelection == 'd2'" src="../../assets/WaCo Maps/School Districts Maps/SD_Map_D2.png">

</ion-card>


<!-- D3 -->
<ion-card class="districtCard"> 
  <ion-card-content>
    <ion-card-title>
      District Three 
    </ion-card-title>
    <p>
        Jason Boothe
    </p>
  </ion-card-content>
  <ion-avatar>
      <ion-icon *ngIf="districtSelection != 'd3'" name="arrow-dropdown" (click)="toggleDisplay('d3')"></ion-icon>
      <ion-icon *ngIf="districtSelection == 'd3'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
  </ion-avatar>

  <img class="districtMap" *ngIf="districtSelection == 'd3'" src="../../assets/WaCo Maps/School Districts Maps/SD_Map_D3.png">

</ion-card>


<!-- D4 -->
<ion-card class="districtCard">
  <ion-card-content>
    <ion-card-title>
      District Four 
    </ion-card-title>
    <p>
      Brad Johnston
    </p>
  </ion-card-content>
  <!-- Display Additional Info Button -->
  <ion-avatar>
      <ion-icon *ngIf="districtSelection != 'd4'" name="arrow-dropdown" (click)="toggleDisplay('d4')"></ion-icon>
      <ion-icon *ngIf="districtSelection == 'd4'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
  </ion-avatar>

  <img class="districtMap"  *ngIf="districtSelection == 'd4'" src="../../assets/WaCo Maps/School Districts Maps/SD_Map_D4.png">

</ion-card>


<!-- D5 -->
<ion-card class="districtCard"> 
  <ion-card-content>
    <ion-card-title>
      District Five 
    </ion-card-title>
    <p>
      Joseph Abston
    </p>
  </ion-card-content>
  <ion-avatar>
      <ion-icon *ngIf="districtSelection != 'd5'" name="arrow-dropdown" (click)="toggleDisplay('d5')"></ion-icon>
      <ion-icon *ngIf="districtSelection == 'd5'" name="arrow-dropup" (click)="toggleDisplay('')"></ion-icon>
  </ion-avatar>

  <img class="districtMap" *ngIf="districtSelection == 'd5'" src="../../assets/WaCo Maps/School Districts Maps/SD_Map_D5.png">

</ion-card>


</ion-content>>