page-commission {
    //#region NavBar
    //NavBar
    .toolbar-background {
        background: linear-gradient(180deg, rgba(0, 68, 136, .9));
        color:white;
    }

    .toolbar-title {
        color: white;
    }


    .navBarImage {
        display: block;
        position: absolute;
        top: 50%;
        left: 90%;
        //Height
        min-height: 40px;
        max-height: 40px;
        //width
        min-width: 40px;
        max-width: 40px;
        transform: translate(-50%, -50%);
    }
    //#endregion

    ion-avatar {
        text-align: center;
        padding-bottom: 5px;
    }

    //#region DistrictMaps

    //#region CardStyling
    .districtCard {
        line-height: 50%;
        text-align: center;
        background: rgb(255, 255, 245);
        box-shadow: 4px 4px 4px 2px rgba(0,0,0, .45);
    }

    //.districtMap Class applied to all map images 
    .districtMap {
        width: 80%;
        display: inline-block;
    }

    //#endregion
}