page-joblinks {

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //NavBar
    .toolbar-background {
        background: linear-gradient(180deg, rgba(0, 68, 136, .9));
        color:white;
    }

    .toolbar-title {
        color: white;
    }

    .icon {
        color: white;
    }
    
    .navBarImage {
        display: block;
        position: absolute;
        top: 50%;
        left: 90%;
        //Height
        min-height: 40px;
        max-height: 40px;
        //width
        min-width: 40px;
        max-width: 40px;
        transform: translate(-50%, -50%);
      }

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]


    #formClass{
        background:white;
    }
    .locationBox{
        background:white;
    }
    .keywordBox{
        background:white;

    }
    .bottomBorder{
        background:white;
        border-bottom:silver;
    }

    //Segment Buttons

    #fullTime {
        color: rgba(0,136,68,1);
        border-color: rgba(0,136,68,1);
    }

    #partTime {
        color: rgba(0,136,68,1);
        border-color: rgba(0,136,68,1);
    }

    #allJobs {
        color: rgba(0,136,68,1);
        border-color: rgba(0,136,68,1);
    }

    //Range Bar
    .range-bar {
        color: rgba(0,136,68,1);
    }

}
