page-joblinks {

    #formClass{
        background:white;
    }
    .locationBox{
        background:white;
    }
    .keywordBox{
        background:white;

    }
    .bottomBorder{
        background:white;
        border-bottom:silver;
    }
}
