page-home {
    
//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //NavBar
    .toolbar-background {
        background: linear-gradient(180deg, rgba(0, 68, 136, .9));
        color:white;
    }

    .toolbar-title {
        color: white;
    }

    // .icon {
    //     color: white;
    // }

    // .navBarImageWrapper {
    //     position: absolute;
    //     bottom: 50%;
    //     left: 90%
    // }
    
    .navBarImage {
        display: block;
        position: absolute;
        top: 50%;
        left: 90%;
        //Height
        min-height: 40px;
        max-height: 40px;
        //width
        min-width: 40px;
        max-width: 40px;
        transform: translate(-50%, -50%);
      }

//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]


    .calendarButtonClass{
        background-image:url(../../assets/imgs/WaCoLib_btnEvents.png);
    }
    
    .eventsButtonClass{
        // height:50%;
        width:60%;
        float:right;
        padding:10px;
    }
    .bookshelfButtonClass{
        // height:30%;
        width: 60%;
        float:right;
        padding:10px;
    }
    .helpButtonClass{
        // height:30%;
        width: 60%;
        float:right;
        padding:10px;
    }

}

