page-home {

    .calendarButtonClass{
        background-image:url(../../assets/imgs/WaCoLib_btnEvents.png);
    }
    .eventsButtonClass{
        height:30%;
        width:50%;
        float:right;
        padding:10px;
    }
    .bookshelfButtonClass{
        height:30%;
        width:50%;
        float:right;
        padding:10px;
    }
    .helpButtonClass{
        height:30%;
        width:50%;
        float:right;
        padding:10px;
}
}
