page-add-event {
//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //NavBar
    .toolbar-background{
        background: linear-gradient(180deg, rgba(0, 68, 136, .9));
        color:white;
    }

    .toolbar-title {
        color: white;
    }

    .icon {
        color: white;
    }

//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]

    // Check Title
    .titleInputInvalid {
        color: rgba(180,0,0,1);
    }

    .titleInputValid {
        color: black;
    }

    #titleErrorIcon {
        color: rgba(180,0,0,1);
    }

    // Check Start Time
    .sameTime {
        color: orange;
    }

    .differentTime {
        color: black;
    }

    #startTimeWarningIcon {
        color: rgba(255, 165, 0, 1);
        z-index: 25;
    }
}
