<ion-header>
    <ion-toolbar>
        <button ion-button [menuToggle]="activeMenu">
          <ion-icon name="menu" color="secondary"></ion-icon>
        </button>
      <ion-title>Add Event</ion-title>
    </ion-toolbar> 
  </ion-header>


<ion-content padding>
  <form  (ngSubmit)="save()">
    <ion-list>

      <ion-item>
        <!-- Check to see if the title is the same (true means it is the same) -->
        <ion-label floating *ngIf="checkTitle(true); else titleDifferent">Please Choose Another Title!</ion-label>
          <!-- Create the *ng template to load if the title is different -->
          <ng-template #titleDifferent>
            <ion-label floating>Title</ion-label>
          </ng-template>
        
        <!-- Error Icon if the title is the same -->
        <ion-icon id="titleErrorIcon" *ngIf="checkTitle(true)" item-right name="help-circle-outline" (click)="titleErrorHelpButton()"></ion-icon>
        <ion-input id="titleInput" type="text" [(ngModel)]="event.title" (keyup)="checkTitle()" name="title"></ion-input>
      </ion-item>

      <!-- Location -->
      <ion-item>
        <ion-label floating>Location</ion-label>
        <ion-input type="text" [(ngModel)]="event.location" name="location"></ion-input>
      </ion-item>

      <!-- Category -->
      <ion-item>
          <ion-label floating>Select Event Category</ion-label>
          <ion-select [(ngModel)]="event.category" interface="action-sheet" name="category">
            <ion-option value="community">Community Event</ion-option>
            <ion-option value="sporting">Sporting Event</ion-option>
            <ion-option value="business">Business Event</ion-option>
            <ion-option value="art">Art Event</ion-option>
          </ion-select>
      </ion-item>

      <!-- Notes -->
      <ion-item>
        <ion-label floating>Notes</ion-label>
        <ion-input  type="text" [(ngModel)]="event.notes" name="notes"></ion-input>
      </ion-item>

      <!-- Start Date -->
      <ion-item>
        <!-- Check to see if the start Time is the same (true means it is the same) -->
        <ion-label floating *ngIf="checkStartTime(true); else startTimeDifferent">Potential Time Conflict!</ion-label>
          <!-- Create the *ng template to load if the startTime is the same -->
          <ng-template #startTimeDifferent>
            <ion-label floating>Start Date</ion-label>
          </ng-template>
        
        <!-- Error Icon if the title is the same -->
        <ion-icon id="startTimeWarningIcon" *ngIf="checkStartTime(true)" item-right name="help-circle-outline" (click)="startTimeWarningHelpButton()"></ion-icon>
        
        
        
        
        <!-- https://ionicframework.com/docs/api/components/datetime/DateTime/ -->
        <ion-datetime id="startDatePicker" displayFormat="MMM DD, YYYY h:mm A" pickerFormat="MMM-DD-YYYY h:mm:A" [(ngModel)]="event.startDate" (ngModelChange)="checkTitle(); checkStartTime();" name="startDate"></ion-datetime>
      </ion-item>

      <!-- End Date -->
      <ion-item>
        <ion-label floating>End Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY h:mm A" pickerFormat="MMM-DD-YYYY h:mm:A" [(ngModel)]="event.endDate" name="endDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <button ion-button type="submit" style="background-color: rgba(0,68,136,1)" full round>Save</button>
      </ion-item>

    </ion-list>
  </form>

  <p>{{this.event.title}}</p>
  <p *ngFor="let event of events | async">{{event.title}}</p>
  <p *ngFor="let event of events | async">{{event.startTime}}</p>

</ion-content>