page-calendar {
    .calendarBackground{
        background-color: whitesmoke;
    }
    .listOfEvents{
        background-color: whitesmoke;
    }

    h4 {
        color:  Black;
      }

      h1 {
        color:  Red;
      }
}
