page-calendar {
    .calendarBackground{
        background-color: whitesmoke;
    }
    .listOfEvents{
        background-color: whitesmoke;
    }

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //Hidden Version of Blips
    .eventBlipHidden {
        visibility: hidden;
    }

    .sportingBlipHidden {
        visibility: hidden;
    }

    .communityBlipHidden {
        visibility: hidden;
    }

    .businessBlipHidden {
        visibility: hidden;
    }

    .artBlipHidden {
        visibility: hidden;
    }

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]

    // Segment Buttons
    #allSegmentBtn {
        color: purple;
        // border-top-color: purple;
        // border-bottom-color: purple;
        // border-left-color: purple;
        // border-right-color: purple;
        border-color: purple;
        border-left-width: 1px;
        border-radius: 4px;
        border-right-width: .5px; 
    }

    .toolbar-ios .segment-button {
        max-width: 500px;
    }


    //All
    //Have to get the right level of "specificity" to override the "main.css"
    .segment-ios  #allSegmentBtn.segment-activated {
        //RGBA allows you to convert a color to transparency
        background-color: rgba(128,0,128,0.3);
    }

    //Sporting
    #sportingSegmentBtn {
        color: green;
        // border-top-color: green;
        // border-bottom-color: green;
        // border-left-color: green;
        border-color: green;
        border-left-width: .5px;
        border-right-width: .5px;
    }

    .segment-ios  #sportingSegmentBtn.segment-activated {
        background-color: rgba(0,255,0,0.3);
    }

    //Community
    #communitySegmentBtn {
        color: orange;
        // border-top-color: orange;
        // border-bottom-color: orange;
        // border-left-color: orange;
        border-color: orange;
        border-left-width: .5px;
        border-right-width: .5px;
    }

    .segment-ios  #communitySegmentBtn.segment-activated {
        background-color: rgba(255,165,0,0.3);
    }

    //Business
    #businessSegmentBtn {
        color: black;
        // border-top-color: black;
        // border-bottom-color: black;
        border-color: black;
        border-left-width: .5px;
        border-right-width: .5px;
    }

    .segment-ios  #businessSegmentBtn.segment-activated {
        background-color: rgba(0,0,0,0.3);
    }

    //Art
    #artSegmentBtn {
        color: blue;
        // border-top-color: blue;
        // border-bottom-color: blue;
        // border-right-color: blue;
        border-color: blue;
        border-left-width: .5px;
        border-right-width: .5px;
    }

    .segment-ios  #artSegmentBtn.segment-activated {
        background-color: rgba(0,0,255,0.3);
    }

    //Sporting
    #suggestEventSegmentButton {
        color: white;
        // border-top-color: green;
        // border-bottom-color: green;
        // border-left-color: green;
        border-color: blue;
        border-left-width: .5px;
        border-right-width: .5px;
        background-color: rgba(0,0,255,1);
    }

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //Slidebar Event Dots (The ones on the slidebar)

    .sportingDot {
        font-size: 25px;
        color: green;
        border-radius: 50%;
        display: inline-block;   
    }

    .communityDot {
        font-size: 25px;
        color: orange;
        border-radius: 50%;
        display: inline-block;    
    }

    .businessDot {
        font-size: 25px;
        color: black;
        border-radius: 50%;
        display: inline-block;   
    }

    .artDot {
        font-size: 25px;
        color: blue;
        border-radius: 50%;
        display: inline-block;  
    }


    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    

    // Sliders
    .suggestEventSlider {
        margin: 0;
    }

    .administratorSlider {
        margin: 0;
    }

    .eventSlider {
        margin: 0;
    }

    .sliderText {
        text-align: center;
    }

    .sliderArrows {

    }

    //Slider Arrows
        //We must reposition them here to override the specificity set by default from the ionic main.css
    .item-ios ion-avatar {
        min-width: 20px;
        min-height: 20px;
    }
    

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]

    #calendarDiv{
        animation: cssAnimation 0s 2s forwards;
        visibility: hidden;
    }

    @keyframes cssAnimation {
        to {visibility: visible;
        }
    }
    h4 {
        color:  Black;
      }

    h1 {
        color:  Red;
    }
}
