page-calendar {
    .calendarBackground{
        background-color: whitesmoke;
    }
    .listOfEvents{
        background-color: whitesmoke;
    }

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //NavBar
    #toolbar .toolbar-background-ios {
        background: linear-gradient(180deg, rgba(0, 68, 136, .9));
        color:white;
    }

    .toolbar-title {
        color: white;
    }

    #hamburgerMenu .icon{
        color: white;
    }

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //Hidden Version of Blips
    .eventBlipHidden {
        visibility: hidden;
    }

    .sportingBlipHidden {
        visibility: hidden;
    }

    .communityBlipHidden {
        visibility: hidden;
    }

    .businessBlipHidden {
        visibility: hidden;
    }

    .artBlipHidden {
        visibility: hidden;
    }

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]

    // Segment Buttons
  
    .toolbar-ios .segment-button {
        max-width: 500px;
    }

    //All
    #allSegmentBtn {
        color: rgba(0,0,0,1);
        border-color: rgba(0,0,0,1);
        border-width: 1px;
        border-left-width: 1px;
        border-radius: 4px;
        border-right-width: .5px; 
    }

    //Have to get the right level of "specificity" to override the "main.css"
    .segment-ios  #allSegmentBtn.segment-activated {
        //RGBA allows you to convert a color to transparency
        background-color: rgba(0,0,0,.3);
    }

    //Sporting
    #sportingSegmentBtn {
        color: rgba(0,136,68,1);
        border-color: rgba(0,136,68,1);
        border-width: 1px;
        border-left-width: .5px;
        border-right-width: .5px;
    }

    .segment-ios  #sportingSegmentBtn.segment-activated {
        background-color: rgba(0,136,68,.3);
    }

    //Community
    #communitySegmentBtn {
        color: rgba(180,0,0,1);
        border-color: rgba(180,0,0,1);
        border-width: 1px;
        border-left-width: .5px;
        border-right-width: .5px;
    }

    .segment-ios  #communitySegmentBtn.segment-activated {
        background-color: rgba(200,0,0,.3);
    }

    //Business
    #businessSegmentBtn {
        color: rgba(255,78,0,1);
        border-color: rgba(255,78,0,1);
        border-width: 1px;
        border-left-width: .5px;
        border-right-width: .5px;
    }

    .segment-ios  #businessSegmentBtn.segment-activated {
        background-color: rgba(255,78,0,.3);
    }

    //Art
    #artSegmentBtn {
        color: rgba(0,68,136,1);
        border-color: rgba(0,68,136,1);
        border-width: 1px;
        border-left-width: .5px;
    }

    .segment-ios  #artSegmentBtn.segment-activated {
        background-color: rgba(0,68,136, 0.3);
    }

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //Slidebar Event Dots (The ones on the slidebar)

    .sportingDot {
        font-size: 25px;
        color: rgba(0,136,68,1);
        border-radius: 50%;
        display: inline-block;   
    }

    .communityDot {
        font-size: 25px;
        color: rgba(180,0,0,1);
        border-radius: 50%;
        display: inline-block;    
    }

    .businessDot {
        font-size: 25px;
        color: rgba(255,78,0,1);
        border-radius: 50%;
        display: inline-block;   
    }

    .artDot {
        font-size: 25px;
        color: rgba(0,68,136,1);
        border-radius: 50%;
        display: inline-block;  
    }


    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    

    // Sliders
    .suggestEventSlider {
        margin: 0;
    }

    .administratorSlider {
        margin: 0;
    }

    .modifyEventSlider{
        margin:0;
    }

    .eventSlider {
        margin: 0;
    }

    .sliderText {
        text-align: center;
    }

    //This element is not needed currently, but serves the purpose of keeping the slide aligned
    .sliderArrowsPlaceholder {
        visibility: hidden;
    }

    //Slider Arrows
        //We must reposition them here to override the specificity set by default from the ionic main.css
    .item-ios ion-avatar {
        min-width: 20px;
        min-height: 20px;
    }

    .modifyEventsButton {
        background-color: rgba(52,52,52,1);
    }
    

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
//The original state of the 'Suggest Event Button'

.sliderOrigin{

}

.sliderSuggest01{
background: linear-gradient(
90deg, 
rgba(0,68,136,.1),
rgba(255, 255, 255,1) 1%)
}

.sliderSuggest05{
background: linear-gradient(
90deg, 
rgba(0,68,136,.1),
rgba(255, 255, 255,1) 5%)
}

.sliderSuggest10{
background: linear-gradient(
90deg, 
rgba(0,68,136,.1),
rgba(255, 255, 255,1) 10%)
}

.sliderSuggest15{
background: linear-gradient(
90deg, 
rgba(0,68,136,.1),
rgba(255, 255, 255,1) 15%)
}

.sliderSuggest20{
background: linear-gradient(
-90deg, 
rgba(255, 255, 255,1), 
rgba(255, 255, 255,1), 
rgba(255, 255, 255,1), 
rgba(255, 255, 255,1), 
rgba(255, 255, 255,1), 
rgba(255, 255, 255,.8), 
rgba(255, 255, 255,.5),
rgba(255, 255, 255,.2), 
rgba(0,68,136,0));
}
////////
.sliderAdminBlue01{
    background: linear-gradient(
        -90deg, 
        rgba(0,68,136,.1),
        rgba(255, 255, 255,1) 1%)
}

.sliderAdminBlue05{
    background: linear-gradient(
        -90deg, 
        rgba(0,68,136,.1),
        rgba(255, 255, 255,1) 5%)
}

.sliderAdminBlue10{
    background: linear-gradient(
        -90deg, 
        rgba(0,68,136,.1),
        rgba(255, 255, 255,1) 10%)
}

.sliderAdminBlue15{
    background: linear-gradient(
        -90deg, 
        rgba(0,68,136,.1),
        rgba(255, 255, 255,1) 15%)
}

.sliderAdminBlue20{
    background: linear-gradient(
        90deg, 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,.8), 
        rgba(255, 255, 255,.5),
        rgba(255, 255, 255,.2), 
        rgba(0,68,136,0));
        }
////////
.sliderAdminGreen01{
    background: linear-gradient(
        90deg, 
        rgba(0,68,136,.1),
        rgba(255, 255, 255,1) 1%)
}

.sliderAdminGreen05{
    background: linear-gradient(
        90deg, 
        rgba(0,136,68,.1),
        rgba(255, 255, 255,1) 5%)
}

.sliderAdminGreen10{
    background: linear-gradient(
        90deg, 
        rgba(0,136,68,.1),
        rgba(255, 255, 255,1) 10%)
}

.sliderAdminGreen15{
    background: linear-gradient(
        90deg, 
        rgba(0,136,68,.1),
        rgba(255, 255, 255,1) 15%)
}

.sliderAdminGreen20{
    background: linear-gradient(
        -90deg, 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,.8), 
        rgba(255, 255, 255,.5),
        rgba(255, 255, 255,.2), 
        rgba(0,136,68,.0));
        }
////////
.sliderAdminModify01{
    background: linear-gradient(
        90deg, 
        rgba(0,68,136,.1),
        rgba(255, 255, 255,1) 1%)
}

.sliderAdminModify05{
    background: linear-gradient(
        90deg, 
        rgba(0,136,68,.1),
        rgba(255, 255, 255,1) 5%)
}

.sliderAdminModify10{
    background: linear-gradient(
        90deg, 
        rgba(0,136,68,.1),
        rgba(255, 255, 255,1) 10%)
}

.sliderAdminModify15{
    background: linear-gradient(
        90deg, 
        rgba(0,136,68,.1),
        rgba(255, 255, 255,1) 15%)
}

.sliderAdminModify20{
    background: linear-gradient(
        -90deg, 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,1), 
        rgba(255, 255, 255,.8), 
        rgba(255, 255, 255,.5),
        rgba(255, 255, 255,.2), 
        rgba(0,136,68,.0));
        }
//This element is not needed currently, but serves the purpose of keeping the slide aligned
.sliderArrowsPlaceholder {
    visibility: hidden;
}

//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    #calendarDiv{
        animation: cssAnimation 0s 2s forwards;
        visibility: hidden;
    }

    @keyframes cssAnimation {
        to {visibility: visible;
        }
    }
    h4 {
        color:  Black;
      }

    h1 {
        color:  Red;
    }
}
