<ion-header>
    <ion-toolbar>
        <button ion-button [menuToggle]="activeMenu">
          <ion-icon name="menu" color="secondary"></ion-icon>
        </button>
        <div class="navBarImageWrapper" >
          <img class="navBarImage" src="assets/imgs/WaCoLibrary_LogoWhite.png" >
        </div>
      <ion-title>Modify Events</ion-title>
    </ion-toolbar> 
  </ion-header>

  <ion-content padding>
    <form [formGroup]="modifyEventSubmission" (ngSubmit)="validateInput(event.id)" #validState>
      <ion-list>
        <!-- Blank Fields -->
        <ion-item id="allEventsRequired" style="text-align: center">All Fields Required.</ion-item>
        <ion-item no-lines id="allowedSymbolsLabel" style="text-align: center">Accepted Symbols</ion-item>
        <ion-item id="allowedSymbols" style="text-align: center">! . @ # $ & * - _ |  " ' ? /</ion-item>
        
        <!-- Title -->
        <ion-item>
          <!-- Check to see if the title is the same (true means it is the same) -->
          <ion-label floating *ngIf="checkTitle(true); else titleDifferent">Please Choose Another Title!</ion-label>
          <!-- Create the *ng template to load if the title is different -->
          <ng-template #titleDifferent>
            <ion-label floating>Title {{ this.event.title.length }} / 30</ion-label>
          </ng-template>
  
          <!-- Error Icon if the title is the same -->
          <ion-icon id="titleErrorIcon" *ngIf="checkTitle(true)" item-right name="help" (click)="titleErrorHelpButton()"></ion-icon>
          <!-- <ion-input id="titleInput" type="text" formControlName="title" [class.titleInputInvalid]="!eventSubmission.controls.title.valid && (eventSubmission.controls.title.dirty || submitAttempt)"
                    [(ngModel)]="event.title" (keyup)="checkTitle()"></ion-input> -->
          <ion-input id="titleInput" type="text" formControlName="title" [(ngModel)]="event.title" (keyup)="checkTitle()"></ion-input>
        </ion-item>
  
        <!-- Location -->
        <ion-item>
          <ion-label floating>Location {{ this.event.location.length }} / 30</ion-label>
          <ion-input type="text" formControlName="location" [(ngModel)]="event.location"></ion-input>
        </ion-item>
  
        <!-- Category -->
        <ion-item>
          <ion-label floating>Select Event Category</ion-label>
          <ion-select formControlName="category" [(ngModel)]="event.category" interface="action-sheet">
            <ion-option value="community">Community Event</ion-option>
            <ion-option value="sporting">Sporting Event</ion-option>
            <ion-option value="business">Business Event</ion-option>
            <ion-option value="art">Art Event</ion-option>
          </ion-select>
        </ion-item>
  
        <!-- Notes -->
        <ion-item>
          <ion-label floating>Notes {{ this.event.notes.length }} / 250</ion-label>
          <ion-input type="text" formControlName="notes" [(ngModel)]="event.notes"></ion-input>
        </ion-item>
  
        <!-- Start Date -->
        <ion-item>
          <ion-label floating>Start Date</ion-label>
          <ion-icon id="startTimeWarningIcon" style="visibility:hidden" item-right name="help" (click)="startTimeWarningHelpButton()"></ion-icon>
          <ion-datetime id="startDatePicker" formControlName="startDate" displayFormat="MMM DD, YYYY h:mm A" pickerFormat="MMM-DD-YYYY h:mm:A"
            [(ngModel)]="event.startDate" (ngModelChange)="checkStartTime();">
          </ion-datetime>
        </ion-item>
  
        <!-- End Date -->
        <ion-item>
          <ion-label floating>End Date</ion-label>
          <ion-datetime id="endDatePicker" formControlName="endDate" displayFormat="MMM DD, YYYY h:mm A" pickerFormat="MMM-DD-YYYY h:mm:A"
            [(ngModel)]="event.endDate"></ion-datetime>
        </ion-item>
  
        <ion-item>
          <button ion-button type="submit" style="background-color: rgba(0,68,136,1)" full round>Save</button>
        </ion-item>
  
      </ion-list>
    </form>

    <p>{{this.event.startTime}}</p>
  </ion-content>