page-view-suggested-events {

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //NavBar
    .toolbar-background {
        background: linear-gradient(180deg, rgba(0, 68, 136, .9));
        color:white;
    }

    .toolbar-title {
        color: white;
    }

    .toolbar .icon {
        color: rgb(255, 255, 255);
    }

    .navBarImage {
        display: block;
        position: absolute;
        top: 50%;
        left: 90%;
        //Height
        min-height: 40px;
        max-height: 40px;
        //width
        min-width: 40px;
        max-width: 40px;
        transform: translate(-50%, -50%);
      }


    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]


    .h4 {
        font-weight: bold;
    }
    .startInfo {
        color: rgba(0,136,68,1);
    };

    .endInfo {
        color: rgba(180,0,0,1);
    };

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //Slidebar Event Dots (The ones on the slidebar)

    .sportingDot {
        font-size: 25px;
        color: green;
        border-radius: 50%;
        display: inline-block;   
    }

    .communityDot {
        font-size: 25px;
        color: orange;
        border-radius: 50%;
        display: inline-block;    
    }

    .businessDot {
        font-size: 25px;
        color: black;
        border-radius: 50%;
        display: inline-block;   
    }

    .artDot {
        font-size: 25px;
        color: blue;
        border-radius: 50%;
        display: inline-block;  
    }

    //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
};
