page-modify-suggested-events {
//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
    
    //NavBar
    .toolbar-background {
        background: linear-gradient(180deg, rgba(0, 68, 136, .9));
        color:white;
    }

    .toolbar-title {
        color: white;
    }

    .icon {
        color: white;
    }

//[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]


}
